<a href="https://colab.research.google.com/github/Khiet-ht/Bai_Tap_AI/blob/main/AI_w3_18_02_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. Create a dataframe

In [ ]:
import pandas as pd
dtaframe = pd.DataFrame()
dataframe['Name']=['Lemon','Apple','Banana']
dtaframe['Price']=[8,10,12]
dataframe['License']=[False,True,True]
#show data
dataframe

     Name  Price  License
0   Lemon      8    False
1   Apple     10     True
2  Banana     12     True

In [ ]:
df = dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     3 non-null      object
 1   Price    3 non-null      int64
 2   License  3 non-null      bool
dtypes: bool(1), int64(1), object(1)
memory usage: 179.0+ bytes

In [ ]:
df.loc[(df.Price ==10)]

    Name  Price  License
1  Apple     10     True

In [ ]:
df.loc[(df.Price ==10)|(df.Name =='Banana')]

     Name  Price  License
1   Apple     10     True
2  Banana     12     True

In [ ]:
df.loc[(df.Price ==8)|(df.Name =='Banana'),['Name','License']]

     Name  License
0   Lemon    False
2  Banana     True

In [ ]:
df.iloc[2:3]

     Name  Price  License
2  Banana     12     True

In [ ]:
#df.iloc[0:2,0:-1]
df.iloc[0:2,-1]

0    False
1     True
Name: License, dtype: bool

In [ ]:
print('tong la  ',df.Price.sum())

tong la   30

In [ ]:
print('max la  ',df.Price.max())

max la   12

In [ ]:
print('min la  ',df.Price.min())

min la   8

In [ ]:
# create row data
new = pd.Series(['Organe','15',True],index=['Name','Price','License'])
#append data row
dataframe.append(new,ignore_index=True)

     Name Price  License
0   Lemon     8    False
1   Apple    10     True
2  Banana    12     True
3  Organe    15     True

In [ ]:
df = dataframe
#append a column
dataframe['Location']= ['VN','USA','TQ']
dataframe

     Name  Price  License Location
0   Lemon      8    False       VN
1   Apple     10     True      USA
2  Banana     12     True       TQ

In [ ]:
#delete a row
df.drop(1, axis=0).head(10)   # axis=0 xoa hang

     Name  Price  License Location
0   Lemon      8    False       VN
2  Banana     12     True       TQ

In [ ]:
df.drop('License',axis=1).head()    #axis=1 xoa cot

     Name  Price Location
0   Lemon      8       VN
1   Apple     10      USA
2  Banana     12       TQ

In [ ]:
#replace 
df['Price'].replace(8,11).head(5)

0    11
1    10
2    12
Name: Price, dtype: int64

In [ ]:
# rename columns
dataframe.rename(columns={'Price':'Cost'}).head()

     Name  Cost  License Location
0   Lemon     8    False       VN
1   Apple    10     True      USA
2  Banana    12     True       TQ

In [ ]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
dataframe = pd.read_csv(url)
dataframe.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [ ]:
data = dataframe
data.shape

(2311, 8)

In [ ]:
data.describe()
#std : phuong sai

              Year
count  2311.000000
mean   1980.361748
std      22.089091
min    1924.000000
25%    1968.000000
50%    1988.000000
75%    1998.000000
max    2006.000000

In [ ]:
data.iloc[0:10]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
5,1924,Chamonix,Biathlon,Biathlon,FIN,military patrol,M,Silver
6,1924,Chamonix,Skating,Figure skating,FIN,pairs,X,Silver
7,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
8,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Silver
9,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold

In [ ]:
data.iloc[:200]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
195,1948,St. Moritz,Skating,Figure skating,CAN,pairs,X,Bronze
196,1948,St. Moritz,Skating,Speed skating,FIN,10000m,M,Bronze
197,1948,St. Moritz,Skating,Speed skating,FIN,10000m,M,Silver
198,1948,St. Moritz,Skiing,Cross Country S,FIN,4x10km relay,M,Silver
199,1948,St. Moritz,Skiing,Cross Country S,FIN,50km,M,Bronze

In [ ]:
data.iloc[[200]]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
200,1948,St. Moritz,Skiing,Nordic Combined,FIN,individual,M,Gold

In [ ]:
data = data.set_index(data['NOC'])
data.loc['GER']

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
GER,1928,St. Moritz,Bobsleigh,Bobsleigh,GER,five-man,M,Bronze
GER,1932,Lake Placid,Bobsleigh,Bobsleigh,GER,four-man,M,Bronze
GER,1932,Lake Placid,Ice Hockey,Ice Hockey,GER,ice hockey,M,Bronze
GER,1936,Garmisch-Partenkirchen,Skating,Figure skating,GER,individual,M,Silver
GER,1936,Garmisch-Partenkirchen,Skating,Figure skating,GER,pairs,X,Gold
...,...,...,...,...,...,...,...,...
GER,2006,Turin,Skiing,Cross Country S,GER,sprint 1.5km,W,Silver
GER,2006,Turin,Skiing,Nordic Combined,GER,Individual,M,Gold
GER,2006,Turin,Skiing,Nordic Combined,GER,Individual sprint,M,Bronze
GER,2006,Turin,Skiing,Nordic Combined,GER,Team,M,Silver
GER,2006,Turin,Skiing,Snowboard,GER,Giant parallel slalom,W,Silver